<div class="container-fluid">
  
    <div class="col-sm-1" style="background-color:#f3f2f2;"></div>



    <div class="col-sm-5" style="background-color:white; ">


        <div class="container-fluid">
            <div class="row" style="padding-bottom: 10px;">
                <div class="col-md-4">
                    <div style="float:left">
                        <a href="Catmob.html"><img src="images/mobile.png" width="120" height="120" ></a>
                        <div class="edit"> Mobile phones </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div style="float:left">
                        <a href="Catmob.html"><img src="images/ele.png" width="120" height="120" ></a>
                        <div class="edit"> Electronics & appliances </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div style="float:left">
                        <a href="Catmob.html"><img src="images/car.png" width="120" height="120" ></a>
                        <div class="edit"> cars </div>
                    </div>
                </div>

            </div>

            <div class="row" style="padding-bottom: 10px;">

                <div class="col-md-4">
                    <div style="float:left">
                        <a href="Catmob.html"><img src="images/jobs.png" width="120" height="120" ></a>
                        <div class="edit"> Jobs </div>
                    </div>


                </div>
                <div class="col-md-4">
                    <div style="float:left">
                        <a href="Catmob.html"><img src="images/re.png" width="120" height="120" ></a>
                        <div class="edit"> Real Estate </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div style="float:left">
                        <a href="Catmob.html"><img src="images/bikes.png" width="120" height="120" ></a>
                        <div class="edit"> Bikes </div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-bottom: 10px;">
                <div class="col-md-4">
                    <div style="float:left">
                        <a href="Catmob.html"><img src="images/books.png" width="120" height="120" ></a>
                        <div class="edit">Books & Hobbies </div>
                    </div>


                </div>
                <div class="col-md-4">
                    <div style="float:left">
                        <a href="Catmob.html"><img src="images/services.png" width="120" height="120" ></a>
                        <div class="edit"> Services </div>
                    </div>


                </div>
                <div class="col-md-4">
                    <div style="float:left">
                        <a href="Catmob.html"><img src="images/seat.png" width="120" height="120" ></a>
                        <div class="edit"> Furniture </div>
                    </div>


                </div>
            </div>
        </div>


    </div>
            <div class="col-sm-5" style="background-color: #f3f2f2;" class="container"> </div>

    <div class="col-sm-1" style="background-color:#f3f2f2;"></div>
</div>
