<div class="container-fluid">

    <div class="col-sm-1" style="background-color:#f3f2f2;"></div>

    <!--
        <div class="container-fluid">
            <div class="row" style="padding-bottom: 10px;">
                <div class="col-md-4">
                    <div style="float:left">
                        <a (click)="AdvCategory(Cloths)"><img src="images/cloths.png" width="100" height="100" ></a>
                        <div class="edit"> Clothes </div>
                    </div>

                </div>



            </div>

            <div class="row" style="padding-bottom: 10px;">


                <div class="col-md-4">
                    <div style="float:left">
                        <a><img src="images/re.png" width="100" height="100" ></a>
                        <div class="edit"> Real Estate </div>
                    </div>

                </div>

            </div>

            <div class="row" style="padding-bottom: 10px;">

                <div class="col-md-4">
                    <div style="float:left">
                        <a (click)="AdvCategory(Mobile)"><img src="images/mobile.png" width="100" height="100" ></a>
                        <div class="edit"> Mobile </div>
                    </div>


                </div>
            </div>

            <div class="row" style="padding-bottom: 10px;">

                <div class="col-md-4">
                    <div style="float:left">
                        <a (click)="AdvCategory(Furniture)"><img src="images/seat.png" width="100" height="100" ></a>
                        <div class="edit"> Furniture </div>
                    </div>


                </div>
            </div>

        </div>
-->
    <div class="col-sm-2 sidenav" id="leftSide" style="margin-top:3%; color:black">
        <ul class="nav nav-pills nav-stacked" id="sideMenu">
            <li><a (click)="AllAdvertisements()">All</a></li>
            <li *ngFor="let item of Category;"><a (click)="AdvCategory(item)">{{item}}</a></li>
        </ul>

    </div>

    <div class="col-sm-8 text-left" id="mainBody" style="background-color:#f3f2f2; margin-top:2cm">
        <table [hidden]="tflag" #opFormTable class="table table-striped" border="2" style="margin-left: 30">

                                    <th>Title</th>
                                    <th>Category</th>
                                    <th>Description</th>
                                     <tr *ngFor="let item of AllAdvertisement; let i = index ">

                                        <td>{{item.title}}</td>
                                        <td>{{item.category}}</td>
                                        <td>{{item.description}}</td>
                                    </tr>
                                    <tr *ngFor="let item of allUserAdv; let i = index ">

                                        <td>{{item.title}}</td>
                                        <td>{{item.category}}</td>
                                        <td>{{item.description}}</td>
                                    </tr>
                                     
                                </table>
    </div>

    <div class="col-sm-1" style="background-color:#f3f2f2;"></div>
</div>