<div class="container">
    <nav class="navbar navbar-default" role="navigation" style="background-color: #151D17">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <div id="main" style="float:left">
                    <span style="font-size:20px;cursor:pointer; color: white" onclick="openNav()">&#9776;</span>
                </div>
                <a class="navbar-brand" href="Index2.html" style="margin-bottom:5"><img src="https://vignette4.wikia.nocookie.net/okami/images/f/f0/Check_mark.png/revision/latest?cb=20130520141819" width="37" height="35" hspace="2px">
</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" class="fontS">
                <ul class="nav navbar-nav">
                    <!-- <li><a  ><span class="glyphicon glyphicon-map-marker"></span> Select Location</a></li> -->

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-map-marker"></span> Select Location <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a>Pune</a></li>
                            <li><a>Pimpri Chinchwad</a></li>
                            <li><a>Nagpur</a></li>
                            <li><a>Aurangabad</a></li>
                            <li><a>Thane</a></li>
                            <li><a>Kolhapur</a></li>
                            <li class="divider"></li>
                            <li><a>Mumbai</a></li>
                            <li><a>Chennai</a></li>
                            <li><a>Delhi</a></li>
                            <li><a>Hyderabad</a></li>
                            <li><a>Bangalore</a></li>
                            <li><a>Kolkata</a></li>
                            <li><a>Surat</a></li>
                            <li class="divider"></li>
                            <li> OOI
                                <ul>
                                    <li><a>New York</a></li>
                                    <li><a>LA</a></li>
                                    <li><a>Tampa</a></li>
                                    <li><a>Florida</a></li>


                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-th-large"></span> Select Category <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li *ngFor="let item of Category"> {{item}} </li>
                            <li class="divider"></li>
                            <li><a>Other Services</a></li>
                        </ul>
                    </li>

                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search Ad...">
                    </div>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>  Search</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">About Us <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a>Help</a></li>
                            <li><a>Blog</a></li>
                            <li><a>Another Services</a></li>
                            <li class="divider"></li>
                            <li><a>Contact Us</a></li>
                            <li class="divider"></li>
                            <li><a>Feedback & Queries</a></li>
                        </ul>
                    </li>
                    <!-- <li><a  ><span class="glyphicon glyphicon-user"></span>  Sign In</a></li> -->
                    <button  (click)="getMyAds()" class="btn btn-xs btn-info" data-toggle="modal" data-target="#showMyAds" style="background-color:#151D17; margin-top:50; border: none;"><span class="glyphicon glyphicon-user"></span>Show my Ads</button>

                    <button class="btn btn-xs btn-info" data-toggle="modal" data-target="#myModal" style="background-color:#151D17; margin-top:50; border: none;"><span class="glyphicon glyphicon-user"></span> Sign In</button>

                    <a class="btn btn-xs btn-info" data-toggle="modal" data-target="#myPostAd" style="background-color: #dacc1e ; color:black; font-weight: bold; margin-top:17; border: none; ">Post a free Ad</a>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>

<div class="modal fade" id="showMyAds" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×</button>
                <h4 class="modal-title" id="myModalLabel">
                    Show my Ads <a href="http://www.jquery2dotnet.com"></a></h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div style="border-right: 1px dotted #C2C2C2;padding-right: 30px;">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#Login" data-toggle="tab">All Ads</a></li>

                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" >

                                <table #opFormTable class="table table-striped" border="2" style="margin-left: 30">
                                   
                                    <th>Title</th>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                    <tr *ngFor="let item of AllAdvertisement; let i = index ">
                                        
                                        <td>{{item.title}}</td>
                                        <td>{{item.name}}</td>
                                        <td>{{item.category}}</td>
                                        <td>{{item.description}}</td>
                                        <td><a (click)="deleteAdv(i)">{{ActionList[0]}}</a> <br> <a (click)="editAd(item.newid)">{{ActionList[1]}}</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<!-- Sign In HTML Code -->
<!-- Large modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×</button>
                <h4 class="modal-title" id="myModalLabel">
                    Login/Registration <a href="http://www.jquery2dotnet.com"></a></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8" style="border-right: 1px dotted #C2C2C2;padding-right: 30px;">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#Login" data-toggle="tab">Login</a></li>
                            <li><a href="#Registration" data-toggle="tab">Registration</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="Login">
                                <form #LoginForm="ngForm" role="form" class="form-horizontal" novalidate>
                                    <div class="form-group">
                                        <label for="email" class="col-sm-2 control-label">
                                        Username</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="userName" [value]="YourName" required minlength="4" class="form-control" placeholder="username"
                                                #nameModelRef="ngModel" ngModel/>
                                            <div *ngIf="nameModelRef.errors && nameModelRef.touched" class="alert alert-danger">

                                                <div [hidden]="!nameModelRef.errors.required">Please Enter the name</div>
                                                <div [hidden]="!nameModelRef.errors.minlength">Please Enter full Name</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword" class="col-sm-2 control-label">
                                        Password</label>
                                        <div class="col-sm-10">
                                            <input #ipPswd type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                        </div>
                                        <div class="col-sm-10">
                                            <button type="submit" [disabled]="!LoginForm.form.valid" (click)="onSubmitLogin(nameModelRef.value,ipPswd.value)" class="btn btn-primary btn-sm"
                                                data-dismiss="modal">Submit</button>
                                            <a href="javascript:;">Forgot your password?</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="Registration">
                                <form #RegForm="ngForm" (ngSubmit)="onSubmitReg(RegForm.value)" role="form" class="form-horizontal" novalidate>
                                    <div class="form-group">
                                        <label for="name" class="col-sm-2 control-label">
                                        FirstName*</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="fName" class="form-control" placeholder="First Name" #fNameModelRef="ngModel" ngModel/>
                                            <div *ngIf="fNameModelRef.errors && fNameModelRef.touched" class="alert alert-danger">
                                                <div [hidden]="!fNameModelRef.errors.required">Please Enter the name</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="col-sm-2 control-label">
                                        LastName*</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="lName" class="form-control" placeholder="Last Name" #lNameModelRef="ngModel" ngModel/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="col-sm-2 control-label">
                                        UserName*</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="uName" class="form-control" placeholder="User Name" #uNameModelRef="ngModel" ngModel/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="col-sm-2 control-label">
                                        Password*</label>
                                        <div class="col-sm-10">
                                            <input type="password" name="regpassword" class="form-control" id="exampleInputPassword1" placeholder="  Password" #regPswd="ngModel"
                                                ngModel/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-sm-2 control-label">
                                        Email*</label>
                                        <div class="col-sm-10">
                                            <input type="email" name="regEmailid" class="form-control" placeholder="Email" #regEmailid="ngModel" ngModel/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="mobile1" class="col-sm-2 control-label">
                                        Mobile*</label>
                                        <div class="col-sm-10">
                                            <input type="number" name="mobile" class="form-control" placeholder="Mobile" #mobileNo="ngModel" ngModel/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-2">
                                        </div>
                                        <div class="col-sm-10">
                                            <button type="submit" [disabled]="!RegForm.form.valid" class="btn btn-primary btn-sm" data-dismiss="modal">
                                            Sign In</button>
                                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                                            Cancel</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="OR" class="hidden-xs">
                            OR</div>
                    </div>
                    <div class="col-md-4">
                        <div class="row text-center sign-with">
                            <div class="col-md-12">
                                <h3>
                                    Sign in with</h3>
                            </div>
                            <div class="col-md-12">
                                <div>
                                    <a class="btn btn-primary" style="background-color:#3b5998 !important;">facebook</a>                                    </div>
                                <div style="padding-top: 5">
                                    <a class="btn btn-danger">google</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Sign In HTML code ends -->
<div class="container">
    <div id="mySidenav" class="sidenav">

        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a><span class="glyphicon glyphicon-user"></span>  My Account</a>
        <a style="margin-left: 30">View my Ad</a>
        <a style="margin-left: 30">Edit/ delete Ad</a>
        <a style="margin-left: 30">Settings</a>
        <hr style="border: solid 0.08px dimgrey">
        <a><span class="glyphicon glyphicon-off"></span> Log out</a>
        <hr style="border: solid 0.08px dimgrey">


    </div>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>
</div>

<!-- Post Ad Starts -->

<div class="modal fade" id="myPostAd" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×</button>
                <h4 class="modal-title" id="myModalLabel">
                    Submit a Free Classified Ad <a href="http://www.jquery2dotnet.com"></a></h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div style="border-right: 1px dotted #C2C2C2;padding-right: 30px;">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#Login" data-toggle="tab">Information</a></li>

                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="Login">
                                <form [formGroup]="AdForm" (ngSubmit)="onSubmit(AdForm.value)" role="form" class="form-horizontal" novalidate>
                                    <div class="form-group">
                                        <label for="title" class="col-sm-2 control-label">
                                        Ad Title*</label>
                                        <div class="col-sm-10">
                                            <input #ipTitle type="text" formControlName="title" class="form-control" [value]="YourTitle" />
                                            <div *ngIf="AdForm.controls['title'].touched">
                                                <div *ngIf="AdForm.controls['title'].hasError('required')" class="alert alert-danger"> Please enter product name </div>
                                                <div *ngIf="AdForm.controls['title'].hasError('minlength')" class="alert alert-danger"> Please Enter atleast 4 chracters</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1" class="col-sm-2 control-label">
                                        Category*</label>
                                        <div class="col-md-10">
                                            <select formControlName="category" #ipCat class="form-control">
                                                     <option  *ngFor="let item of Category">{{item}}</option>
                                                </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="AdDescription" class="col-sm-2 control-label">
                                        Ad Description*</label>
                                        <div class="col-sm-10">
                                            <input #ipDesc type="text" class="form-control" formControlName="description" [value]="YourDescription" placeholder="Include the brand, model, age and any other Information..."
                                                style=" height:160px;" />
                                            <div *ngIf="AdForm.controls['description'].touched">
                                                <div *ngIf="AdForm.controls['description'].hasError('required')" class="alert alert-danger"> Please enter description </div>
                                            </div>
                                        </div>
                                    </div>



                                    <hr style="line-height: : 2px">



                                    <div class="form-group">
                                        <h5 style="margin-left: 25"> Personal Information </h5>
                                        <label for="name" class="col-sm-2 control-label">
                                        Name</label>
                                        <div class="col-sm-10">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <select class="form-control">
                                                    <option>Mr.</option>
                                                    <option>Ms.</option>
                                                    <option>Mrs.</option>
                                                </select>
                                                </div>
                                                <div class="col-md-9">
                                                    <input #ipName type="text" formControlName="name" class="form-control" placeholder="Name" [value]="YourName" />
                                                    <div *ngIf="AdForm.controls['name'].touched">
                                                        <div *ngIf="AdForm.controls['name'].hasError('required')" class="alert alert-danger"> Please enter product name </div>
                                                        <div *ngIf="AdForm.controls['name'].hasError('minlength')" class="alert alert-danger"> Please Enter atleast 4 chracters</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-sm-2 control-label">
                                        Email</label>
                                        <div class="col-sm-10">
                                            <input type="email" formControlName="emailid" [value]="Youremail" class="form-control" placeholder="me@example.com" />
                                            <div *ngIf="AdForm.controls['emailid'].touched">
                                                <div *ngIf="AdForm.controls['emailid'].hasError('required')" class="alert alert-danger"> Please enter EmailID</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="mobile" class="col-sm-2 control-label">
                                        Mobile</label>
                                        <div class="col-sm-10">
                                            <input type="number" [value]="Yourmo" formControlName="mobile" class="form-control" placeholder="Mobile" />
                                            <div *ngIf="AdForm.controls['mobile'].touched">
                                                <div *ngIf="AdForm.controls['mobile'].hasError('required')" class="alert alert-danger"> Please enter Mobile Number</div>
                                                <div *ngIf="AdForm.controls['mobile'].hasError('minlength')" class="alert alert-danger"> Please enter 10 digits </div>
                                                <div *ngIf="AdForm.controls['mobile'].hasError('maxlength')" class="alert alert-danger"> Please enter 10 digits </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-2">
                                        </div>
                                        <div class="col-sm-10">
                                            <button type="submit" [disabled]="!AdForm.valid" class="btn btn-primary">
                                            Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>


                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- Post ad Ends-->